@import url('https://fonts.cdnfonts.com/css/gotham');

/*font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: #F5F5F5;

}

.body-index {
    background-image: url(img/baggrund-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    height: 700px;
}

/*navigation*/



/*forside header*/
.forside-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    word-spacing: 8px;
}

.forside-underoverskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 300;
    margin-top: 5%;
}

.læs-mere {
    font-family: 'Gotham Light', sans-serif;
    margin-top: 6%;
    margin-bottom: 30%;
}

.forside-overskift-container {
    line-height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 10%;
}

/* forside main*/

.forside-overskrift-testemonial {}


.forside-overskrift-testemonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham', sans-serif;
    font-weight: bolder;
    color: #023E8A;
    text-align: center;

}

.forside-main-overskrift {
    font-size: xx-large;
    margin-bottom: 5%;
    margin-top: 10%;
}

.testemonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.testemonial-indhold {
    width: 25%;
    font-family: 'Gotham Light', sans-serif;
}

.forside-det-tilbyder-vi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.forside-det-tilbyder-vi-indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    line-height: 30px;
}

.forside-det-tilbyder-vi-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #FF9557;
}

.forside-tilbud-beskrivelse {
    width: 25%;
    margin-top: 5%;
    font-family: 'Gotham Light', sans-serif;
    font-weight: 900;
    color: #023E8A;
}


/*overskrift til alle sider på nær index*/

.overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #023E8A;
    background-color: #E1EEFF;
    padding-top: 18%;
    padding-bottom: 18%;
}

/* vores tilbud styling*/

.vores-tilbud-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #023E8A;
    margin-top: 10%;
    margin-bottom: 10%;

}

.tilbud-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 5%;
}

.tilbud-indhold {
    width: 25%;
    font-family: 'Gotham Light', sans-serif;
    line-height: 25px;
}

.tilbud-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
}

.tilbud-underoverskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}

.tidslinje-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 200%;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    color: #023E8A;

}

.tidslinje-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
    font-size: xx-large;
}

.tidslinje-højre {
    border: #023E8A;
    background-color: #E1EEFF;
    border-style: solid;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    padding: 2%;
    width: 60%;
}

.tidslinje-venstre {
    border: #023E8A;
    background-color: #E1EEFF;
    border-style: solid;
    text-align: center;
    border-radius: 40px;
    padding: 2%;
    width: 60%;
    margin-left: 40%;
}

/* om os styling */

.om-os-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    line-height: 30px;
}

.vores-værdier-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;

}

.vores-værdier-indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 5%;
    color: #023E8A;
}

.vores-værdier-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    font-size: xx-large;
    color: #023E8A;
}

.vores-værdier {
    font-family: 'Gotham Light', sans-serif;
    width: 25%;
    line-height: 25px;
}

.vores-værdier-underoverskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}

/* vores recruitere*/

.vores-recruitere-indledning {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Gotham Light', sans-serif;
    line-height: 30px;
    color: #023E8A;
}

.vores-recruitere-accordian {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    width: ;
}

/*.vores-recruitere-accordian {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10%;
}

.vores-recruitere-opsaetning {
    display: flex;
    flex-direction: column;
    font-family: 'Gotham Light', sans-serif;
}

.recruitere-accordian {
    border: none;
    background-color: #F5F5F5;
}

.recruitere-praesentation {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    color: #023E8A;

}

.recruitere-accordian-indhold {
    width: 200px;
    text-align: center;
    display: none;
    overflow: hidden;
}*/


/*kontakt*/

/*kontakt formular*/


.kontakt-formular {

    background-image: url(img/kontaktformular-lys.svg);
    height: 800px;
    background-repeat: no-repeat;


}

display: inline;
padding-right: 20px;
background-image: url(../images/ourlocation.jpg);
background-repeat: no-repeat;
background-position: 0 -.2em;

.kontakt-formular-overskrift {
    font-family: 'Gotham', sans-serif;
}

/*footer styling*/

.footer-border {
    border: #023E8A;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 5px;
    margin-bottom: 2px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 2%;
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;

}

.footer-overskrift {
    font-family: 'Gotham', sans-serif;
    margin-top: 2%;
}

.footer-indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #023E8A;
}

.footer-link {
    color: #023E8A;
}


.footer-kontakt {
    line-height: 30px;
    margin-bottom: 3%;
}

.footer-copyright {
    margin-bottom: 3%;
}