@import url('https://fonts.cdnfonts.com/css/gotham');

/*font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: #F5F5F5;

}

.body-index {
    background-image: url(img/baggrund-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    height: 700px;
}

/*navigation*/

.navbar {
    display: flex;
    font-size: x-large;
    font-family: 'Gotham Light', sans-serif;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease-in-out;

}

.nav-list {
    list-style-type: none;

}

.nav-list .list-item {
    display: inline-flex;
    padding: 20px 10px;
}


nav a {
    text-decoration: none;
    color:#023E8A;
}

nav ul a:hover {
    text-decoration: underline
}

.nav-list .list-item a:active {
    font-weight: bold;
}

#active {
    text-decoration: underline;
    color:#023E8A;
}

#index-active {
    text-decoration: underline;
    color:#f5f5f5;
}

#kontaktbtn {
  background-color: #FE9F67;
  padding: 8px 20px;
  border-radius: 1000px;
  font-size: x-large;
  cursor: pointer;
}

.logo {
    font-weight: bold;
    font-family: 'Gotham', sans-serif;
    font-size: xx-large;
    margin-right: auto;
    margin-left: 1%;
    margin-top: 10px;
}

.hamburger {
display: none;
}

.bar {
    height: 3px;
    width: 27px;
    background-color: #FF9557;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

/*nav js*/

.nav-open {
transform: translateX(0%) !important;
}

.hamburger-open .bar:nth-child(1) {
transform: translateY(7px) rotate(45deg);
}

.hamburger-open .bar:nth-child(2) {
opacity: 0;
}

.hamburger-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/*pil til top */

 #arrow-up { 
      position: fixed; 
      bottom: 2%; 
      right: 30px; 
      z-index: 99;
      border: none; 
      outline: none;
      color:#023E8A;
      cursor: pointer; 
      height: auto;
      width: 80px;
      border-radius: 50%; 
      font-size: 50px; 
    }
    
    #arrow-up:hover {
      color: #FF9557
    }

/*forside header*/
.forside-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    word-spacing: 8px;
}

.forside-underoverskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 300;
    margin-top: 5%;
}

.læs-mere {
    font-family: 'Gotham Light', sans-serif;
    margin-top: 6%;
    margin-bottom: 30%;
}

.forside-overskift-container {
    line-height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 10%;
}

/* forside main*/


.forside-overskrift-testemonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham', sans-serif;
    font-weight: bolder;
    color: #023E8A;
    text-align: center;

}

.forside-main-overskrift {
    font-size: xx-large;
    margin-bottom: 5%;
    margin-top: 10%;
}

.testemonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.testemonial-indhold {
    width: 25%;
    font-family: 'Gotham Light', sans-serif;
}

.forside-det-tilbyder-vi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.forside-det-tilbyder-vi-indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    line-height: 30px;
}

.forside-det-tilbyder-vi-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #FF9557;
}

.forside-tilbud-beskrivelse {
    width: 25%;
    margin-top: 5%;
    font-family: 'Gotham Light', sans-serif;
    font-weight: 900;
    color: #023E8A;
}


/*overskrift til alle sider på nær index*/

.overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #023E8A;
    background-color: #E1EEFF;
    padding-top: 18%;
    padding-bottom: 18%;
}

/* vores tilbud styling*/

.vores-tilbud-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #023E8A;
    margin-top: 10%;
    margin-bottom: 10%;

}

.tilbud-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 5%;
}

.tilbud-indhold {
    width: 25%;
    font-family: 'Gotham Light', sans-serif;
    line-height: 25px;
}

.tilbud-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
}

.tilbud-underoverskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}

.tidslinje-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 200%;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    color: #023E8A;

}

.tidslinje-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
    font-size: xx-large;
}

.tidslinje-højre {
    border: #023E8A;
    background-color: #E1EEFF;
    border-style: solid;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    padding: 2%;
    width: 60%;
}

.tidslinje-venstre {
    border: #023E8A;
    background-color: #E1EEFF;
    border-style: solid;
    text-align: center;
    border-radius: 40px;
    padding: 2%;
    width: 60%;
    margin-left: 40%;
}

/* om os styling */

.om-os-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    line-height: 30px;
}

.vores-værdier-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;

}

.vores-værdier-indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 5%;
    color: #023E8A;
}

.vores-værdier-overskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    font-size: xx-large;
    color: #023E8A;
}

.vores-værdier {
    font-family: 'Gotham Light', sans-serif;
    width: 25%;
    line-height: 25px;
}

.vores-værdier-underoverskrift {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}

/* vores recruitere*/

.vores-recruitere-indledning {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Gotham Light', sans-serif;
    line-height: 30px;
    color: #023E8A;
}

/*accordian*/

.vores-recruitere-accordian {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;
}


.recruitere-accordian {
    border: none;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.portraet-henrik {
    width: 200px;
}

.portraet-katja {
    width: 250px;
}

.portraet-allan {
    width: 300px;
}

.recruitere-praesentation {
    color: #023E8A;
    font-family: 'Gotham Light', sans-serif;
    font-size: medium;
    font-weight: bold;
    line-height: 30px;
}

.recruitere-accordian-indhold {
    width: 220px;
    display: none;
    overflow: hidden;
    line-height: 25px;
}


/*kontakt*/

/*kontakt formular*/


.kontaktformular-container {
    width: 60%;
    height: 100%px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E1EEFF;
    border-radius: 40px;
    margin-top: 10%;
}

.kontaktformular-overskrift {
    text-align: center;
    color: #FF9557;
    font-family: 'Gotham', sans-serif;
    margin-bottom: 20px;
}

.kontaktformular-underoverskrift {
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;
    margin-bottom: 15px;
    line-height: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #023E8A;
    font-family: 'Gotham Light', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="mobil"],
textarea {
    width: 100%;
    padding: 5px;
}

.indsend[type="submit"] {
    background-color: #FF9557;
    font-family: 'Gotham', sans-serif;
    font-weight: bolder;
    font-size: large;
    color: #023E8A;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 40%;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #023E8A;
    color: #FF9557;
}



/*kontakt knap*/

.kontakt-knap-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;
    line-height: 25px;
}

.kontakt-knap {
    margin-top: 20px;
    width: 200px;
    background-color: #FF9557;
    font-family: 'Gotham', sans-serif;
    font-weight: bolder;
    font-size: large;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

.kontakt-link {
    color: #023E8A;
}

.kontakt-knap :hover {
    width: 300px;
    font-size: larger;

}

/*footer styling*/

.footer-border {
    border: #023E8A;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 5px;
    margin-bottom: 2px;
    margin-top: 10%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 2%;
    font-family: 'Gotham Light', sans-serif;
    color: #023E8A;

}

.footer-overskrift {
    font-family: 'Gotham', sans-serif;
    margin-top: 2%;
}

.footer-indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #023E8A;
}

.footer-link {
    color: #023E8A;
}


.footer-kontakt {
    line-height: 30px;
    margin-bottom: 3%;
}

.footer-copyright {
    margin-bottom: 3%;
}


/* RESPONSIV MOBIL */
@media (max-width: 500px) {

    .forside-overskrift {
        font-size: large;
        word-spacing: 3px;
    }

    .forside-underoverskrift {
        font-weight: 100;
        font-size: medium;
    }

    .læs-mere {
        font-size: small;
    }

    .forside-overskrift-testemonial {
        margin-top: 400px;
    }

    .forside-det-tilbyder-vi-indhold {
        flex-direction: column;
        margin-left: 2%;
    }

    .forside-tilbud-indhold {
        width: 350px;
        margin-top: 30px;
    }

    .kontakt-knap-container {
        width: 300px;
        margin-left: 10%;
    }

    .footer-indhold {
        flex-direction: column;
        line-height: 30px;
    }

    .tilbud-container {
        flex-direction: column;
    }

    .tilbud-indhold {
        width: 350px;
        margin-bottom: 50px;
    }

    .tilbud-overskrift {
        margin-left: 5%;
        margin-bottom: 20px;
    }

    .tilbud-underoverskrift {
        margin-bottom: -20px;
    }

    .tidslinje-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .vores-værdier-indhold {
        flex-direction: column;
    }

    .vores-værdier {
        width: 350px;
    }

    .vores-værdier-underoverskrift {
        margin-top: 40px;
        margin-bottom: -20px;
    }

    .vores-recruitere-accordian {
        flex-direction: column;
        align-items: center;
    }
/*navigation*/

.navbar {
    position: fixed;
    top: 0px;
    background-color: #023E8A;
    width: 100%;
    padding: 10px 0 25px;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    
   }

   .nav-list .list-item {
    display: list-item;
   }

   nav a {
    color: #F5F5F5;
   }

   .logo {
    color: #F5F5F5;
   }

   .hamburger {
    display: block;
    margin-left: 380px;
    position: fixed;
    padding-top: 0px;
    top: 20px;
   }

   #arrow-up {
    font-size: 40px; 
    width: 60px;
   }

}